# Virtual Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# IDE and Editor files
.streamlit/
.DS_Store
Thumbs.db
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# Python files
*.log
*.tmp
*.sqlite3
db.sqlite3
db.sqlite3-journal
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
*.so
*.manifest
*.spec

# Directories
.ipynb_checkpoints/
outputs/
tmp/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
instance/
.webassets-cache
.scrapy
docs/_build/
.pybuilder/
target/
profile_default/
.pdm.toml
.pdm-python
.pdm-build/
__pypackages__/
celerybeat-schedule
celerybeat.pid
site/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
.ruff_cache/

# Translation and config files
*.mo
*.pot
local_settings.py
ipython_config.py
.Python
pip-log.txt
pip-delete-this-directory.txt
#Pipfile.lock
#uv.lock
#poetry.lock
#pdm.lock
.python-version
.pypirc

# AI Editor files
.cursorignore
.cursorindexingignore